version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@2.0.0

jobs:
  say-hello:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"

  build:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout

      - run:
          name: Install & Build Frontend
          command: |
            cd frontend
            npm install
            npm run build

      - run:
          name: Install Backend
          command: |
            cd backend
            npm install

      - sonarcloud/scan

workflows:
  main:
    jobs:
      - build:
          context: SonarCloud
      - say-hello
